<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
        <a href="mailto:info@emergentinstruments.com" title="Email">
          <i class="fa fa-envelope fa-3x"></i></a>
        &nbsp; &nbsp;
        <a href="https://www.linkedin.com/company/emergent-instruments-inc." title="LinkedIn">
          <i class="fa fa-linkedin-square fa-3x"></i></a>
        &nbsp; &nbsp;
        <a href="https://plus.google.com/114755274034699765257" class="icon" title="Google+">
          <i class="fa fa-google-plus-official fa-3x fa-fw"></i></a>
        &nbsp; &nbsp;
        <a href="https://github.com/emergentinstruments">
          <i class="fa fa-github fa-3x fa-fw"></i></a>
        &nbsp; &nbsp;
<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="IN/FollowCompany" data-id="10658296"></script>
        <ul class="icons">
          <li>
            <a href="mailto:info@emergentinstruments.com" title="Email">
            <i class="fa fa fa-envelope fa-lg"><span class="label">email</span> </i></a> </li>
          <li> <a href="https://www.linkedin.com/company/emergent-instruments-inc."
            class="icon fa fa-linkedin-square fa-lg"><span class="label">linkedin</span></a> </li>
          <li> <a href="https://plus.google.com/114755274034699765257"
            class="icon fa fa-google-plus-official fa-lg fa-fw"><span class="label">Google+</span></a> </li>
          <li> <a href="https://github.com/emergentinstruments"
            class="icon fa fa-github fa-lg fa-fw"><span class="label">github</span></a> </li>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>

        <ul class="fa-ul">
          <li> <a href="mailto:info@emergentinstruments.com"> <i class="fa-li fa fa-envelope fa-lg"></i> </a> </li>
          <li> &nbsp; </li>
          <li>
            <a href="https://www.linkedin.com/company/emergent-instruments-inc.">
            <i class="fa-li fa fa-linkedin-square fa-lg"></i>
</a>
          </li>
          <li>
            <i class="fa-li fa fa-google-plus-official fa-lg fa-fw"></i>
            <a href="https://plus.google.com/114755274034699765257">Google+</a>
          </li>
          <li>
            <a href="https://github.com/emergentinstruments">
              <i class="fa-li fa fa-github fa-lg fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="icons">
          <li> <a href="mailto:info@emergentinstruments.com"
            class="icon fa fa-envelope fa-lg"><span class="label">email</span></a> </li>
          <li> <a href="https://www.linkedin.com/company/emergent-instruments-inc."
            class="icon fa fa-linkedin-square fa-lg"><span class="label">linkedin</span></a> </li>
          <li> <a href="https://plus.google.com/114755274034699765257"
            class="icon fa fa-google-plus-official fa-lg fa-fw"><span class="label">Google+</span></a> </li>
          <li> <a href="https://github.com/emergentinstruments"
            class="icon fa fa-github fa-3x fa-fw"><span class="label">github</span></a> </li>
        </ul>
      </div>
    </div>

  </div>

</footer>
