<header id="header">
  <a href="{{ site.baseurl }}/" class="title">{{ site.title }}</a>
  <nav>
    <ul>
      {% for link in site.navigation %}
      {% if page.url contains link.url %}
          <!-- highlight the link if this is the page we are on.  -->
          <li><a href="{{ site.baseurl}}/{{ link.url }}" class="active"> {{ link.text }} </a></li>
        {% else %}
          <li><a href="{{ site.baseurl}}/{{ link.url }}"> {{ link.text }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
